@font-face {font-family: "driving";src: url("fonts/driving.eot?y9bs4p");src: url("fonts/driving.eot?y9bs4p#iefix") format("embedded-opentype"),url("fonts/driving.ttf?y9bs4p") format("truetype"),url("fonts/driving.woff?y9bs4p") format("woff"),url("fonts/driving.svg?y9bs4p#driving") format("svg");font-weight: normal;font-style: normal;}
[class^="icon-"], [class*=" icon-"] {font-family: "driving" !important;speak: none;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.icon-id-card:before {content: "";}
.icon-balloons:before {content: "";}
.icon-protection-shield-with-a-check-mark:before {content: "";}
.icon-black-and-white-credit-cards:before {content: "";}
.icon-car-steering-wheel:before {content: "";}
.icon-money:before {content: "";}
.icon-people-1:before {content: "";}
.icon-clock:before {content: "";}
.icon-star-black-fivepointed-shape:before {content: "";}
.icon-smile:before {content: "";}
.icon-checked:before {content: "";}
.icon-profile:before {content: "";}
.icon-cancel:before {content: "";}
.icon-down-arrow:before {content: "";}
.icon-right-arrow:before {content: "";}
.icon-left-arrow:before {content: "";}
.icon-social-media:before {content: "";}
.icon-twitter-logo-silhouette:before {content: "";}
.icon-facebook-logo:before {content: "";}
.icon-instagram-social:before {content: "";}
.icon-phone-call:before {content: "";}
.icon-interface:before {content: "";}
.icon-arrows:before {content: "";}
.icon-people:before {content: "";}
.icon-heart:before {content: "";}
.icon-quote-1:before {content: "";}
.icon-quote:before {content: "";}
.icon-placeholder-for-map:before {content: "";}
.icon-school:before {content: "";}
.icon-arrow-down-sign-to-navigate:before {content: "";}
.icon-right-arrow-1:before {content: "";}
.icon-menu-three-horizontal-lines-symbol:before {content: "";}
.icon-motorcyclist:before {content: "";}
.icon-car:before {content: "";}
.icon-delivery-truck:before {content: "";}
.icon-truck:before {content: "";}
.icon-coach-side-view:before {content: "";}
.icon-play-button:before {content: "";}
.icon-link:before {content: "";}
.icon-play3:before {content: "";}
.icon-pause2:before {content: "";}